.encabezado--con-filtros
	justify-content space-evenly
	contenedor()
	h2
		titulos(Fuente2)
		font-size 50px

	.filtros
		display flex
		justify-content space-evenly
		align-items center
		width 250px
		padding 10px 20px 
		margin-left auto
		cajaSombra()

		span
			titulos(Fuente2)
		
		a
			margin-left 20px
			font-size 25px
			color color-primario
			text-decoration none
